.screen {
    flex: 1;
}

.start {
    flex: 1;
}

.end {
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.mid {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.txt {
    color: #73C3E0;
    font-size: 23;
}

.container {
    flex: 1;
    justify-content: center;
    align-items: center;
}